:root {
    --primary-colour: #2e5266; /*Charcoal*/
    --secondary-colour: #70c1b3; /*Verdigris*/
    --accent1-colour: #ffb100; /*Selective Yellow*/
    --accent2-colour: #104911; /*Pakistan Green*/
    /*Palette link: https://coolors.co/2e5266-70c1b3-df928e-ffb100-104911*/
    --heading-font: 'Bebas Neue', sans-serif;
    --text-font: 'Roboto', sans-serif;
}