:root {
    --primary-colour: #2e5266; /*Charcoal*/
    --secondary-colour: #70c1b3; /*Verdigris*/
    --accent1-colour: #ffb100; /*Selective Yellow*/
    --accent2-colour: #104911; /*Pakistan Green*/
    /*Palette link: https://coolors.co/2e5266-70c1b3-df928e-ffb100-104911*/
    --heading-font: 'Bebas Neue', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--accent1-colour);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-colour);
    color: var(--accent2-colour);
}

header img {
    position: relative;
    max-width: 75px;
    left: 90px;
    height: auto;
    align-content: center;
    border-radius: 5px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px
}

header nav a {
    background: white;
    color: var(--primary-colour);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-colour);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: var(--accent1-colour);
    color: white;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.hero {
    position: relative;
    display: flex;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}

article {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255, 50%);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0 30px grey;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    top: 110px;
    text-align: start;
}

article p {
    flex: 1;
    font-size: 14px;
    padding: 20px;
    background-color: var(--secondary-colour);
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#history {
    background-color: var(--secondary-colour);
}

.history-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--accent2-colour);
    font-size: 14px;
}

#history figure {
    border: thin #c0c0c0 solid;
}

#adventure {
    background-color: var(--accent1-colour);
    margin-bottom: 10px;
}

section h2 {
    text-align: center;
    margin: 10px;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
  color: var(--primary-colour);
  font-size: 10px;
  text-align: center;
}

.img-container {
    display: flex;
    justify-content: space-around;
}

.img-container img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-colour);
    color: white;
    padding: 10px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}