:root {
    --primary-colour: #0079A2; /*Blue*/
    --secondary-colour: #71D7E5; /*Light Blue*/
    --accent1-colour: #D8A93F; /*Wet Sand*/
    --accent2-colour: #F6E5CB; /*Caucasian*/
    --accent3-colour: #4B6E50; /*Seaweed Green*/
    /*Palette link: https://coolors.co/0079a2-71d7e5-d8a93f-f6e5cb-4b6e50*/
    --heading-font: 'Bebas Neue', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--accent1-colour);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-colour);
    color: var(--accent2-colour);
}

header img {
    position: relative;
    max-width: 75px;
    left: 90px;
    height: auto;
    align-content: center;
    border-radius: 5px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px
}

header nav a {
    background: white;
    color: var(--primary-colour);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-colour);
}

#aboutH1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: var(--accent1-colour);
    color: white;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.hero {
    position: relative;
    display: flex;
    padding: 0 auto;
    text-align: center;
    justify-content: center;
}

.floatingLogo {
    position: absolute;
    max-width: 250px;
}

.floatingText {
    position: absolute;
    bottom: 30px;
    font-size: 3rem;
    background-color: #eee;
    padding: 8px;
    border-radius: 10px;
}

article {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255, 50%);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0 30px grey;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    top: 110px;
    text-align: start;
}

article p {
    flex: 1;
    font-size: 14px;
    padding: 20px;
    background-color: var(--secondary-colour);
    color: whitesmoke;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#history {
    background-color: var(--secondary-colour);
}

.history-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--accent2-colour);
    font-size: 14px;
    color: var(--accent3-colour);
}

#history figure {
    border: thin #c0c0c0 solid;
}

#adventure {
    background-color: var(--accent1-colour);
    margin-bottom: 10px;
}

section h2 {
    text-align: center;
    margin: 10px;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
  color: var(--primary-colour);
  font-size: 10px;
  text-align: center;
}

.img-container {
    display: flex;
    justify-content: space-around;
}

.img-container img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-colour);
    color: white;
    padding: 10px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}

/*CONTACT US PAGE*/

/*Hero*/

#contactHero {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: var(--accent1-colour);
    color: var(--accent2-colour);
    margin: 0;
    padding-bottom: 80px;
    margin-bottom: 115px;
}

#reach h1 {
    font-size: 3rem;
}

#reach p {
    padding: 0;
}

/*Customer Support*/

#customerSupport {
    position: absolute;
    background-color: var(--accent3-colour);
    width: 400px;
    height: 175px;
    margin-top: 150px;
    border: 1px solid black;
    box-shadow: 0 0 10px grey;
}

#customerSupport h2 {
    color: var(--accent2-colour);
}
#customerSupport p {
    color: white;
    text-align: left;
    margin-left: 60px;
}

/*Location*/

#location {
    display: grid;
    grid-template-columns: 50% 50%;
    border: thin var(--primary-colour) solid;
    position: relative;
    height: 290px;
    margin: 0 auto;
}

#mapLegend {
    margin: 0 auto;
}

#mapLegend h2 {
    padding: 10px;
}

#map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

/*Meet the Staff*/

#meetStaff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent3-colour);
    margin: 0 auto;
    margin-top: 20px;
}

#meetStaff h2 {
    color: var(--accent2-colour);
}

#meetStaff img {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    color: var(--primary-colour);
    font-size: 10px;
    text-align: center;

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

#meetStaff figcaption {
    color: var(--accent2-colour);
}

.staffName {
    font-size: .8rem;
}

.specialist {
    color: var(--accent2-colour);
    padding: 0;
    margin: 0 auto;
    font-size: .7rem;
}

/*Form*/

#message p {
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

form {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--primary-colour);
    border-radius: .5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: var(--primary-colour);
    font-size: 1em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1rem;
}

button {
    margin: 1rem;
    background-color: var(--primary-colour);
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button:hover {
    background-color: var(--accent3-colour);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    width: 100%;
    margin: .5rem 0;
    grid-column: 1 / -1;
}

.column2 {
    grid-template-columns: 30% 70%;
}

/*HOME PAGE*/

.container {
    background-color: var(--secondary-colour);
    padding: 1rem;
    color: white;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#free {
    padding-top: 1rem;
}

#offers {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#offers ul {
    flex: 1;
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0;
}

#offerImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#offerImg img {
    width: 100%;
    max-width: 272px;
    height: 200px;
    object-fit: cover;  
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#checkTrips {
    text-align: center;
    padding: 1rem .25rem;
    margin-top: 2rem;
}

#checkTrips h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#tripButton button {
    background-color: var(--accent1-colour);
    color: var(--primary-colour);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 2rem;
    cursor: pointer;
}

#tripButton button:hover {
    background-color: var(--accent2-colour);
}

#letter {
    background-color: var(--accent3-colour);
    margin: 0;
}

#letter h2 {
    color: var(--accent2-colour);
}

#letter p {
    text-align: center;
}

.homeLetter {
    display: block;
    text-align: left;
    padding-top: 10px;
}