nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    width: 1000px;
}

aside {
    width: 560px;
    margin:auto;
    border: 2px;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0px;
}

footer {
    margin-top: 50px;
    border-top: 2px;
    border-color: black;
    text-align: center;
}